body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background: #f4f4f4;

    font-family: Arial, Helvetica, sans-serif;
}

/* container général (login / sender / receiver / menu) */
.login-box,
.container {
    width: 360px;

    background: white;

    padding: 30px;
    margin-top: 80px;

    border-radius: 12px;

    box-shadow: 0 0 15px rgba(0,0,0,.2);

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* inputs */
input {
    width: 100%;

    padding: 12px;

    margin-top: 10px;

    box-sizing: border-box;

    border: 1px solid #ccc;
    border-radius: 6px;
}

/* buttons */
button {
    width: 100%;

    margin-top: 10px;

    padding: 12px;

    cursor: pointer;

    background: #007bff;
    color: white;

    border: none;
    border-radius: 6px;

    transition: 0.2s;
}

button:hover {
    background: #0056b3;
}

/* status text */
#message,
#status {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}